.container {
  margin: 20px;
  background-color: #212529;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 100%;

}

h2 {
  margin-bottom: 20px;
  color: #fefbec;
}

.form {
  margin-bottom: 20px;
  color: #fefbec;
}

.taskName {
  margin-bottom: 20px;
  color: #fefbec;
}
.add {
  margin-bottom: 20px;
}

.formContainer {
  border: 1px solid #fefbec;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 30px;
}

table {
  color: #fefbec;
}

